.d-item {
    font-weight: bold;
}

div#result {
    min-height: 1px;
    margin-top: 15px;
}

div#main {
}

body {    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: justify;
}

a {
    color: inherit !important;
    font-weight: bold;
}

h1, h3, h4 {
    padding-left: 1rem;
}

.trasp-background .dropdown-menu {
    color: inherit;
}

.trasp-background .dropdown-divider {
    border-top: 1px solid;
}

.form-group.trasp-background, #result.trasp-background {
    margin: 0.2rem 0.5rem;
}

#result.trasp-background {
    padding: 1rem;
}

.trasp-background {
    background-color: #ffffff99;    
    border: 2px solid;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius: 15px 255px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.75)!important;
}

.btn.trasp-background {
    color: #ffffff;  
    background-color: #111111;
    border: 1rem;
    border-top-left-radius: 255px 45px;
    border-top-right-radius: 45px 225px;
    border-bottom-right-radius: 225px 45px;
    border-bottom-left-radius: 45px 255px;
}

.trasp-background .table {
    color: inherit;
}

.trasp-background .table thead th {
    border-bottom: 2px solid;
}

.trasp-background .table td, .trasp-background .table th {
    border-top: 1px solid;
}

.trasp-background .modal-header {    
    border-bottom: 1px solid;
}

.trasp-background .modal-footer {
    border-top: 1px solid;
}

.d-md-table-cell {
    min-width: 200px;
}

div.buy-link a {
    font-weight: normal;
    font-style: italic;
    font-family: monospace;
}

/*ICONS */
.f-check {
    height: 22px;
}

.form-check-label {
    vertical-align: top;
    font-size: large;
}

.icon-fact {
    cursor: pointer;
}

.f-item > .icon-fact {
    margin-left: 1em;
}

tbody > tr > th {
    white-space: nowrap;
}

tbody > tr > th > a:before{
    vertical-align: middle;
}

.icon-fact:before {
  display: inline-grid;
  content: ' ';
  background-size: 28px 28px;
  height: 28px;
  width: 28px;
}

.icon-DP:before { background-image: url('images/factions/icons/DP.svg'); }
.icon-DW:before { background-image: url('images/factions/icons/DW.svg'); }
.icon-GO:before { background-image: url('images/factions/icons/GO.svg'); }
.icon-KN:before { background-image: url('images/factions/icons/KN.svg'); }
.icon-UD:before { background-image: url('images/factions/icons/UD.svg'); }
.icon-DR:before { background-image: url('images/factions/icons/DR.svg'); }
.icon-GI:before { background-image: url('images/factions/icons/GI.svg'); }
.icon-GN:before { background-image: url('images/factions/icons/GN.svg'); }
.icon-SE:before { background-image: url('images/factions/icons/SE.svg'); }
.icon-TR:before { background-image: url('images/factions/icons/TR.svg'); }
.icon-BA:before { background-image: url('images/factions/icons/BA.svg'); }
.icon-PH:before { background-image: url('images/factions/icons/PH.svg'); }
.icon-UN:before { background-image: url('images/factions/icons/UN.svg'); }
.icon-CY:before { background-image: url('images/factions/icons/CY.svg'); }
.icon-EL:before { background-image: url('images/factions/icons/EL.svg'); }
.icon-EO:before { background-image: url('images/factions/icons/EO.svg'); }
.icon-OR:before { background-image: url('images/factions/icons/OR.svg'); }
.icon-DU:before { background-image: url('images/factions/icons/DU.svg'); }
.icon-SH:before { background-image: url('images/factions/icons/SH.svg'); }
.icon-WI:before { background-image: url('images/factions/icons/WI.svg'); }
.icon-DE:before { background-image: url('images/factions/icons/DE.svg'); }
.icon-GH:before { background-image: url('images/factions/icons/GH.svg'); }
.icon-ME:before { background-image: url('images/factions/icons/ME.svg'); }
.icon-MI:before { background-image: url('images/factions/icons/MI.svg'); }
.icon-VA:before { background-image: url('images/factions/icons/VA.svg'); }
.icon-ZO:before { background-image: url('images/factions/icons/ZO.svg'); }
.icon-WE:before { background-image: url('images/factions/icons/WE.svg'); }
.icon-SD:before { background-image: url('images/factions/icons/SD.svg'); }
.icon-FE:before { background-image: url('images/factions/icons/FE.svg'); }
.icon-DM:before { background-image: url('images/factions/icons/DM.svg'); }
.icon-TC:before { background-image: url('images/factions/icons/TC.svg'); }
.icon-PO:before { background-image: url('images/factions/icons/PO.svg'); }
.icon-FR:before { background-image: url('images/factions/icons/FR.svg'); }
.icon-YE:before { background-image: url('images/factions/icons/YE.svg'); }
.icon-IK:before { background-image: url('images/factions/icons/IK.svg'); }
.icon-IQ:before { background-image: url('images/factions/icons/IQ.svg'); }
.icon-AW:before { background-image: url('images/factions/icons/AW.svg'); }
.icon-SA:before { background-image: url('images/factions/icons/SA.svg'); }

img.modal-image {
    width: 100%;
}

/*DECKS*/

div#C1-row { background-image: url(images/deck/300/C1.png); }
div#C2-row { background-image: url(images/deck/300/C2.png); }
div#CRMAP-row { background-image: url(images/deck/300/CMAP.png); }
div#CRMER-row { background-image: url(images/deck/300/CMER.png); }
div#CRMAG-row { background-image: url(images/deck/300/CMAG.png); }
div#CRFEA-row { background-image: url(images/deck/300/CFEA.png); }
div#CRFIR-row { background-image: url(images/deck/300/CFIR.png); }
div#CRFRO-row { background-image: url(images/deck/300/CFRO.png); }
div#PROMO-row { background-image: url(images/deck/300/PROMO.png); }
div#STBOX-row { background-image: url(images/deck/300/STBOX.png); }

div.form-group {
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 0px;
    background-position: right top;
}

@media (min-width: 450px) {
    div.form-group {
        background-size: 180px;
    }
}


@media (min-width: 576px) {
    div.form-group {
        background-size: 0px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width:768px) {
    div.form-group {
        background-size: 200px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 992px) {
    div.form-group {
        background-size: 250px;
    }
}

@media (min-width: 1200px) {
    div.form-group {
        background-size: 300px;
    }
}


/* STYLES */
body.default {
    background-image: url(images/castle.jpg);    
}
body.default .trasp-background {
    background-color: #ffffffaa;
}
body.default .trasp-background.solid-bg {
    background-color: #ffffff;
}
body.default {
    color: #000;
}
.style-icon-default {
    color: #fff;   
}
body.default .btn.trasp-background {
    color: #fff;
    background-color: #000;
}

/*claim*/
body.claim {
    background-image: url(images/Claim.jpg);    
}
body.claim .trasp-background {
    background-color: #338110aa;
}
body.claim .trasp-background.solid-bg {
    background-color: #338110;
}
body.claim {
    color: #ffffff;
}
.style-icon-claim {
    color: #338110;   
}
body.claim .btn.trasp-background {
    color: #338110;
    background-color: #ffffff;
}

/*DP*/
body.DP {
    background-image: url(images/factions/backgrounds/DP.jpg);    
}
body.DP .trasp-background {
    background-color: #f8f4c5aa;
}
body.DP .trasp-background.solid-bg {
    background-color: #f8f4c5;
}
body.DP {/*div#main, body.DP div#main table, body.DP .navbar-light .navbar-nav .nav-link {*/
    color: #0e5b57;
}
.style-icon-DP {
    color: #f8f4c5;/* #b6a816;   */
}
body.DP .btn.trasp-background {
    color: #f8f4c5;
    background-color: #0e5b57;
}

/*DW*/
body.DW {
    background-image: url(images/factions/backgrounds/DW.jpg);    
} 
body.DW .trasp-background {
    background-color: #365a58aa;
}
body.DW .trasp-background.solid-bg {
    background-color: #365a58;
}
body.DW {/*div#main, body.DW div#main table, body.DW .navbar-light .navbar-nav .nav-link {*/
    color: #fcdbad;
}
.style-icon-DW {
    color: #365a58;   
}
body.DW .btn.trasp-background {
    color: #365a58;
    background-color: #fcdbad;
}


/*GO*/
body.GO {
    background-image: url(images/factions/backgrounds/GO.jpg);    
}
body.GO .trasp-background {
    background-color: #dec182aa;
}
body.GO .trasp-background.solid-bg {
    background-color: #dec182;
}
body.GO {/*div#main, body.GO div#main table, body.GO .navbar-light .navbar-nav .nav-link {*/
    color: #8f0202;
}
.style-icon-GO {
    color: #dec182;   
}
body.GO .btn.trasp-background {
    color: #dec182;
    background-color: #8f0202;
}


/*KN*/
body.KN {
    background-image: url(images/factions/backgrounds/KN.jpg);    
}

body.KN .trasp-background {
    background-color: #d8e5b9aa;
}
body.KN .trasp-background.solid-bg {
    background-color: #d8e5b9;
}

body.KN {/*div#main, body.KN div#main table, body.KN .navbar-light .navbar-nav .nav-link {*/
    color: #004d76;
}
.style-icon-KN {
    color: #d8e5b9;/*#94b643;   */
}
body.KN .btn.trasp-background {
    color: #d8e5b9;
    background-color: #004d76;
}




/*UD*/
body.UD {
    background-image: url(images/factions/backgrounds/UD.jpg);    
}
body.UD .trasp-background {
    background-color: #572b66aa;
}
body.UD .trasp-background.solid-bg {
    background-color: #572b66;
}
body.UD {/*div#main, body.UD div#main table, body.UD .navbar-light .navbar-nav .nav-link {*/
    color: #e2d879;
}
.style-icon-UD {
    color: #572b66;   
}
body.UD .btn.trasp-background {
    color: #572b66;
    background-color: #e2d879;
}




